<div class="container">
  <div class="row">
    <div class="col-sm">
      <app-creator></app-creator>
    </div>
    <div class="col-sm">
      <div class="btn-group">
        <button (click)="addNewEquations()" class="btn btn-success">Add new equation</button>
        <button (click)="removeNewEquations()" class="btn btn-warning">Remove equation</button>
      </div>
      <div *ngFor="let n of numberOfEquations" class="input-group padding"> <!-- class="padding"-->
        <input type="text" name="e1_x1" placeholder="1x1" class="form-control"/>
        <input type="text" name="e1_x2" placeholder="3x2" class="form-control"/>
        <!--<input type="text" name="e1_operation" placeholder="3x2" class="form-control"/>-->
        <select>
          <option value="<"><</option>
          <option value="<="><=</option>
          <option value=">">></option>
          <option value=">=">>=</option>
          <option value="=">=</option>
        </select>
        <input type="text" name="e1_result" placeholder="10" class="form-control"/>
      </div>
    </div>
  </div>
</div>